{% extends 'common/base.html' %}

{% block content %}
<a href="{% url 'photo:photo_add' %}" class="btn btn-primary btn-sm btn-top-right">
    <span class="glyphicon glyphicon-plus"></span>
    Add Phot
</a>

<div class="photo-list">
    {% for photo in all_photo %}
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="{{ photo.img.url }}" alt="">
            <div class="caption">
                <div>album: {{ photo.album }}</div>
                <div>owner: {{ photo.owner.email }}</div>
                <div>title: {{ photo.title }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}}