{% extends 'common/base.html' %}

{% block content %}

<div class="container">
    <p>[{{ photo.album }}] {{ photo.title }}</p>
    <img src="{{ photo.img.url }}" alt="">
    <p>owner : {{ photo.owner }}</p>
    <p>description : {{ photo.description }}</p>
    <p>like_count : {{ photo.like_users.count }}</p>
    <p>dislike_count : {{ photo.dislike_users.count }}</p>
    <a href="{% url 'photo:photo_delete' pk=photo.pk %}" class="btn btn-danger">Photo Delete</a>
</div>
<div class="comment-container container">
    <h4>댓글 목록</h4>
    {% for comment in comments %}
        <p>{{ comment.owner }} | {{ comment.content }} | {{ comment.created_date }}

            {% if user == comment.owner %}
            <!--댓글 수정버튼-->
            <a href="{% url 'photo:comment_edit' comment_pk=comment.pk photo_pk=photo.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <!--댓글 수정버튼 끝-->

            <!--댓글 삭제버튼-->
            <a href="{% url 'photo:comment_delete' comment_pk=comment.pk photo_pk=photo.pk %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <!--댓글 삭제버튼 끝-->
            {% endif %}

        </p>
    {% endfor %}

    <h4>댓글 작성</h4>
    <form method="POST" class="comment-form" action="{% url 'photo:add_comment' pk=photo.pk %}">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default">저장</button>
    </form>

</div>
{% endblock %}}