{% extends 'common/base.html' %}

{% block content %}
<a href="{% url 'photo:photo_add' %}" class="btn btn-primary btn-sm btn-top-right">
    <span class="glyphicon glyphicon-plus"></span>
    Add Phot
</a>
<a href="{% url 'photo:photo_add_multi' %}" class="btn btn-primary btn-sm btn-top-right">
    <span class="glyphicon glyphicon-plus"></span>
    Add Multi Phot
</a>

<div class="photo-list">
    {% for photo in all_photo %}
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="{{ photo.img.crop.400x400 }}">
            <div class="caption">
                <div>album: {{ photo.album }}</div>
                <div>owner: {{ photo.owner.email }}</div>
                <div>title: {{ photo.title }}</div>
                <div class="like-container">
                    <form action="{% url 'photo:photo_like' pk=photo.pk like_type='like' %}" class="like-form">
                        <button class="btn label
                            {% if user in photo.like_users.all %}label-info
                            {% else %}label-default
                            {% endif %}
                        ">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span>{{ photo.like_users.count }}</span>
                        </button>
                    </form>
                    <form action="{% url 'photo:photo_like' pk=photo.pk like_type='dislike' %}" class="like-form">
                        <button class="btn label
                            {% if user in photo.dislike_users.all %}label-danger
                            {% else %}label-default
                            {% endif %}
                        ">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            <span>{{ photo.dislike_users.count }}</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}}