{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

    <!--Bootstrap JS-->
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <!--custom css-->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/photo.css' %}">

    <title>모두의 사진</title>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'photo:photo_list' %}" class="navbar-brand">모두의 사진</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'member:logout' %}">logout</a></li>
                {% else %}
                    <li><a href="{% url 'member:login' %}?next={{ request.path }}">login</a></li>
                    <li><a href="{% url 'member:signup' %}">signup</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="content container">
    <div class="row">
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}alert-info
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger
                {% endif %}" role="alert">
                <span>{{ message }}</span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>